html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*
* {
  border: 1px solid #FF0000;
}
*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 10px; /*15px;*/
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
  bottom: 0;
  /*border: 1px solid #e00000;*/
}

body,
html,
#app,
#app > div {
  height: 100%;
  /*border: 1px solid #e0044689;*/
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px;
}

input[type=file]::-webkit-file-upload-button {
  /*border: 1px solid grey;*/
  background: #FFFAAA;
  margin-top: 30;
  float: 'left';
}

#my-file-ita { visibility: hidden; }
#my-file-lis { visibility: hidden; }

video {
  width: 100%    !important;
  height: auto   !important;
}

/*
.react-date-picker react-date-picker--closed react-date-picker--enabled {
  font-size: 18;
  color: 'white';
  font-weight: 'bold';
}

.react-date-picker__inputGroup {
  font-size: 18;
  color: 'white';
  font-weight: 'bold';
}

.react-date-picker__wrapper {
  font-size: 18;
  color: 'white';
  font-weight: 'bold';
}


.react-date-picker__inputGroup__input_1 {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font-size: 82;
  color: 'white';
  font-weight: 'bold';
  box-sizing: content-box;
  -moz-appearance: textfield;
}



.react-date-picker__inputGroup__input react-date-picker__inputGroup__day {
  color: 'blue';
}

*/